#itsBanner
    position: fixed
    width: 100%
    z-index: 10
    display: flex
    flex-direction: column
    justify-content: space-around

    @include break_min(medscreen)
        max-width: map-get($breakpoints, medscreen)
        left: calc(50% - #{map-get($breakpoints, medscreen) / 2})

#mainHeader
    .header
        img
            @include break_max(portable)
                width: 100%
            @include break_min(portable)
                width: map-get($breakpoints, portable)
