@import "banner"

#mainHeader
    height: map-get($dimensions, banner_height)
    top: 0

#mainHeader .header
    display: flex
    text-align: center
    padding: 0 1rem
    flex-direction: row
    justify-content: space-around
    img
        width: 100%

@include break_min(portable)
    #mainHeader
        .header
            img
                width: map-get($breakpoints, portable)
