#itsBanner,
#mainHeader,
    width: 100%

#mainHeader
    top: 0
    h1
        margin: 0 3rem
        text-align: center

#itsBanner
    height: auto
    padding: 0
    z-index: 10
    display: flex
    justify-content: center
    flex-direction: column

@include break_min(portable)
    #itsBanner
        min-width: map-get($dimensions, textwidth)
        height: map-get($dimensions, banner_height)
    #mainHeader
        position: absolute
