{% import 'macros/utils.html.twig' as utils %}

{% set towns = [] %}
{% set categories = [] %}
{% set tags = [] %}
{% for m in page.collection %}
  {% for tw in m.taxonomy.town %}
    {% if tw not in towns %}
      {% set towns = towns | merge([tw]) %}
    {% endif %}
  {% endfor %}
  {% for t in m.taxonomy.tag %}
    {% if t not in tags %}
      {% set tags = tags | merge([t]) %}
    {% endif %}
  {% endfor %}
  {% for c in m.taxonomy.category %}
    {% if c not in categories %}
      {% set categories = categories | merge([c]) %}
    {% endif %}
  {% endfor %}
{% endfor %}

<div class="Taxonomy Switches" >
{% if header.taxfilter.town %}
  {{ utils.tax_switches ("town", 0, "Stadt wählen", towns)}}
{% endif %}
{% if header.taxfilter.category %}
  {{ utils.tax_switches ('category', 1, 'Kategorien', categories)}}
{% endif %}
{% if header.taxfilter.tag %}
  {{ utils.tax_switches ("tag", 2, "Schlagworte", tags)}}
{% endif %}
{#
#}
</div>
