<!DOCTYPE html>
{% import 'macros/utils.html.twig' as utils %}
{% import 'macros/css_tools.html.twig' as css %}
{% set lang = grav.language.getActive ?: theme_config.default_lang %}
<html
  lang="{{ lang }}"
  ng-app="Mona">
  <head>
    {% block stylesheets %}
      {% do assets.addCss('theme://css-compiled/mona.css') %}
    {% endblock %}
    {% block stylesheets_inline %}
      {% set css_inline %}
        {% if not header.sidebar.enabled %}
          {{css.disable_sidenav}}
        {% endif %}
      {% endset %}
      {% do assets.addInlineCss(css_inline) %}
    {% endblock %}
    {% block javascript %}
    {% do assets.addJs('theme://bower_components/angular/angular.min.js') %}
    {% do assets.addJs('theme://bower_components/angular-aria/angular-aria.js') %}
    {% do assets.addJs('theme://js/mona.js') %}
    {% do assets.addJs('theme://js/controllers/Banner.js', {'group':'MonaAngular'}) %}
    {% do assets.addJs('theme://js/controllers/DropdownNav.js', {'group':'MonaAngular'}) %}
    {% do assets.addJs('theme://js/controllers/ResponsiveDesign.js', {'group':'MonaAngular'}) %}
    {% do assets.addJs('theme://js/controllers/Taxonomy.js', {'group':'MonaAngular'}) %}
    {% do assets.addJs('theme://js/controllers/Sidebar.js', {'group':'MonaAngular'}) %}
    {% do assets.addJs('theme://js/directives/navItem.js', {'group':'MonaAngular'}) %}
    {% do assets.addJs('theme://js/directives/requireJs.js', {'group':'MonaAngular'}) %}
    {% endblock %}
    {{ assets.css() }}
    {{ assets.inline_css() }}
    {{ assets.js() }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>{{ config.site.title }} --- {{page.title() }}</title>
  </head>
  <body
    ng-controller="responsiveDesign">
    <main>
      {% block banner %}
      {% include 'partials/header.html.twig' %}
      {% endblock %}
      <section
        id="mainSection"
        ng-controller="taxonomy" >
        {% set bcrumbs = config.plugins.breadcrumbs.enabled and header.breadcrumbs.enabled %}
        {% if bcrumbs %}
        {% include 'partials/breadcrumbs.html.twig' %}
        {% endif %}
        <div
          {% if bcrumbs %}
          class="Container BreadcrumbsEnabled"
          {% else %}
          class="Container"
          {% endif %}
          >
          {% if header.sidebar.enabled and not page.home() %}
          <aside id="sideNavigation" ng-controller="sidebarCtrl">
            {% if header.sidenav.enabled %}
            {% block sidenav %}
              <h2>{{ page.parent.title() }}</h2>
              {% include 'partials/navigation/side_nav.html.twig' %}
            {% endblock %}
            {% endif %}
            {% block sidebarCustom %} {% endblock %}
          </aside>
          {% endif %}
          <div class="contents" lang="{{lang}}">
            {% if not page.home() %}
            <header>
              {% block header %}
              <h1>{{ page.title() }}</h1>
              {% endblock %}
            </header>
            {% endif %}
            {% block content %}{% endblock %}
          </div>
        </div>
      </section>
      {% include 'partials/footer.html.twig' %}
    </main>
  </body>
  {{ assets.js('Mona') }}
  {{ assets.js('MonaAngular') }}
</html>
