<div class="Event">
  <tr>
    <td class="EventDate"> {{ page.header.date | date ("d. m. Y") }} </td>
    <td class="EventTitle">
      <a href="{{ page.url }}" tabindex="0">
        {{ page.title }}
      </a>
      <span class="EventTown">
        {{ page.header.town }}
      </span>
    </td>
  </tr>
</div>
