{% set footernav = page.evaluate([{'@page.children':'/footer','order': {'by':'default'}}]) %}
<footer id="mainFooter">
  <nav>
    <ul>
      {% for item in footernav %}
      <li>
        <a href="{{ item.url }}" tabindex="0">{{item.menu}}</a></li>
      </li>
      {% endfor %}
    </ul>
  </nav>
</footer>
