<section id="itsBanner" ng-controller="Banner">
  <header id="mainHeader">
    <div class="header">
      <div
        class="Sandwich RequireJS"
        require-js
        ng-init="init()"
        role=button
        ng-click="toggleSandwich()"
        ng-cloak
        tabindex="0"
        >
        &#9776;
      </div>
      <a href="{{ base_url_absolute }}" tabindex="0">
        <img src="{{ theme_url }}/images/shnw_banner.png" alt="{{ config.site.title }}" />
      </a>
    </div>
  </header>
  <div class="navSplit" ng-show="menuOpened()" > </div>
  {% include 'partials/navigation/main_navigation.html.twig' %}
</section>
