<section id="itsBanner">
  <header id="mainHeader">
    <div class="header">
      <div class="Sandwich">&#9776;</div>
      <a href="{{ base_url_absolute }}">
        <img src="{{ theme_url}}/images/shnw_banner.svg" alt="{{ config.site.title }}" />
      </a>
    </div>
  </header>
  {% include 'partials/navigation/main_navigation.html.twig' %}
</section>
