<section id="itsBanner">
  <header id="mainHeader"> 
    <h1>
      <a href="{{ base_url_absolute }}">
        {{ config.site.title }}
      </a>
    </h1>                      
  </header>
  {% include 'partials/navigation/main_navigation.html.twig' %}
</section>
