@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(fonts/open-sans-400-normal.woff2) format('woff'), url(fonts/open-sans-400-normal.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/open-sans-700-normal.woff2) format('woff'), url(fonts/open-sans-700-normal.woff) format('woff');
}
@font-face {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 400;
	src: local('Oswald Regular'), local('Oswald-Regular'), url(fonts/oswald-400-normal.woff2) format('woff'), url(fonts/oswald-400-normal.woff) format('woff');
}
