#mainFooter
    color: map-get($textColors,footer)

#breadcrumbs,
#sideNavigation h4,
#TableOfContents .navItem,
#mainNavigation .navFolder,
#sideNavigation .navItem,
#mainNavigation .navItem,
#sideNavigation .Town,
#sideNavigation .Category,
#sideNavigation .Tag
    color: map-get($textColors,navitem)


#sideNavigation h2,
#TableOfContents .tocSection,
#sideNavigation .navCurrent
    color: map-get($textColors,navpos)

#mainHeader .header
    color: map-get($textColors,sitetitle)

#mainSection header h1,
#mainSection .cref
    color: map-get($textColors,articletitle)

#mainSection .contents
    color: map-get($textColors,article)
