#mainFooter
    color: map-get($textColors,footer)

#TableOfContents .navItem,
#mainNavigation .navFolder,
#sideNavigation .navItem,
#mainNavigation .navItem,
#sideNavigation .Tag,
#sideNavigation .Category
    color: map-get($textColors,navitem)


#sideNavigation h4,
#TableOfContents .tocSection,
#breadcrumbs,
#sideNavigation .navCurrent
    color: map-get($textColors,navpos)

#mainHeader .header
    color: map-get($textColors,sitetitle)

#sideNavigation h2,
#mainSection header h1,
#mainSection .cref
    color: map-get($textColors,articletitle)

#mainSection .contents
    color: map-get($textColors,article)
