#mainHeader > .header
    font-size: 1.6rem

#mainNavigation
    font-size: 1rem

#mainNavigation .navHome
    font-size: 1.2rem

#mainSection header h1
    font-size: 2rem

#sideNavigation h2
    font-size: 1.2em

.CategoryList,
.TagList
    font-size: 0.8rem
