#mainFooter
    color: map-get($textColors,footer)

#mainNavigation .navFolder,
#sideNavigation .navItem,
#mainNavigation .navItem
    color: map-get($textColors,navitem)

#breadcrumbs,
#sideNavigation h2,
#sideNavigation .navCurrent
    color: map-get($textColors,navpos)

#mainHeader .Logo,
    color: map-get($textColors,sitetitle)

#mainSection header h1,
#mainSection .cref
    color: map-get($textColors,articletitle)

#mainSection .contents
    color: map-get($textColors,article)
