#mainHeader
    font-weight: bold
    @include break_min(portable)
        .header
            font-size: 1.6rem
            white-space: nowrap
    @include break_max(portable)
        .header
            font-size: calc(3vw)
            font-size-adjust: auto
            white-space: nowrap

#mainNavigation
    font-size: 1rem

#mainNavigation .navHome
    font-size: 1.2rem

#mainSection header h1
    font-size: 2rem

#sideNavigation h2
    font-size: 1.2em

.CategoryList,
.TagList
    font-size: 0.8rem
