@import "bg_colors"
@import "nav_basics"
// @import "dropdown"

#mainNavigation
    width: 100%
    text-align: center

#mainNavigation
    line-height: 1.5rem

.navItem,
.navCurrent
    padding: 0 1.5ex

@include break_min(portable)
    #mainNavigation
        bottom: 0
