@import "bg_colors"
@import "nav_basics"
@import "dropdown"
@import "animation/index"

#mainNavigation
    position: absolute
    bottom: 0
    width: 100%
    text-align: center

#mainNavigation 
    line-height: 1.5rem

.navItem,
.navCurrent
    padding: 0 1.5ex

// #mainNavigation nav
//     margin-left: 4px
//     margin-right: 4px
//     margin-bottom: 5px
