// Visibility of menu items
#mainNavigation li.toplevel-menu nav[aria-hidden="true"]
    opacity: 0

#mainNavigation li.toplevel-menu nav
    opacity: 1

// Placement of menu items
@include break_min(portable)
    #mainNavigation li.toplevel-menu
        display: inline-block

    #mainNavigation li.toplevel-menu nav
        position: absolute

@include break_max(portable)
    #mainNavigation li.toplevel-menu
        display: block
