// Visibility of menu items
#mainNavigation li.toplevel-menu > nav[aria-hidden="true"]
    opacity: 0
    
    //display: none

// #mainNavigation li.toplevel-menu > nav:hover,
#mainNavigation li.toplevel-menu > nav
    opacity: 1
    position: absolute
    // display: block

// Placement of menu items
#mainNavigation li.toplevel-menu
    display: inline-block

// #mainNavigation > ul ul::before
//     content: "<div class="fakeshadow" ></div>"
