// Visibility of menu items
#mainNavigation li.toplevel-menu nav[aria-hidden="true"]
    opacity: 0

#mainNavigation li.toplevel-menu nav
    opacity: 1
    position: absolute

// Placement of menu items
#mainNavigation li.toplevel-menu
    display: inline-block
