#sideNavigation .SideNav li a,
#mainNavigation li
    position: relative

.navItem,
.SideNav .Switches .Town,
.SideNav .Switches .Category,
.SideNav .Switches .Tag,
.SideNav .Switches h4 .FilterExpander,
.SideNav .Switches h4 .resetFilter
    outline: none
    border-radius: 1rem


.navItem,
.SideNav .Switches .Town,
.SideNav .Switches .Category,
.SideNav .Switches .Tag,
.SideNav .Switches h4 .FilterExpander,
.SideNav .Switches h4 .resetFilter
    border-style: solid
    border-width: 1px
    border-color: transparentize(black,1)

.navItem:focus,
.SideNav .Switches .Town:focus,
.SideNav .Switches .Category:focus,
.SideNav .Switches .Tag:focus,
.SideNav .Switches h4 .FilterExpander:focus,
.SideNav .Switches h4 .resetFilter:focus
    border-color: transparentize(black,0.8)
