#sideNavigation .SideNav li a,
#mainNavigation li
    position: relative

.navItem:focus,
.SideNav .Taxonomy.Switches .Tag:focus,
.SideNav .Taxonomy.Switches .Category:focus
    outline: none
    text-decoration: underline
