$uiColors: (
  menu:         hsl( 40,  20%, 50% ),
  backspace:    hsl( 220, 20%, 40% ),
  textarea:     hsl( 40,  30%, 90% ),
  );

$textColors: (
  footer:       hsl( 40,  20%, 90% ),
  navitem:      hsl( 220, 50%, 25% ),
  navpos:       hsl( 220, 20%, 40% ),
  sitetitle:    hsl( 220, 20%, 60% ),
  articletitle: hsl( 40,  20%, 50% ),
  article:      hsl( 220, 20%, 10% ),
  );
