$uiColors: (
  menu:         hsl( 40,  35%, 50% ),
  backspace:    hsl( 220, 35%, 40% ),
  textarea:     hsl( 40,  35%, 90% ),
  );

$textColors: (
  footer:       hsl( 40,  35%, 90% ),
  navitem:      hsl( 40,  35%, 10% ),
  navpos:       hsl( 220, 35%, 40% ),
  sitetitle:    hsl( 220, 35%, 60% ),
  articletitle: hsl( 40,  35%, 50% ),
  );
