@import "blog_item"
@import "side_nav"
@import "hide"

.Taxonomy
    text-align: left

.Taxonomy .TagList,
.Taxonomy .CategoryList
    display: flex
    flex-wrap: wrap
    flex-direction: row

.Taxonomy .Category,
.Taxonomy .Tag
    white-space: nowrap
