.Tag.Hide,
.Category.Hide
    display: none

.Taxonomy .Active
    background-color: transparentize(map-get($uiColors, menu), 0.5)

.BlogItem.Active,
.BlogItem.TaxEmpty
    display: block

.SideNav .Tag,
.SideNav .Category
    border-radius: 0.5rem
    border-width: thin
    border-style: solid
    border-color: transparentize(map-get($uiColors, backspace), 0.75)
    padding: 0 1ex
    cursor: pointer
    outline: none
    @include user_select(none)

.BlogItem
    display: none
