#mainNavigation nav
    overflow: hidden

#itsBanner .navSplit
    position: relative
    z-index: 10
    padding: 0

#mainNavigation .toplevel-menu > nav > .navSplit:first-of-type,
#itsBanner > .navSplit
    height: 2px
    margin-top: -2px
    box-shadow: 0 1px 1px transparentize(black, 0.65)

// ---
@include break_max(portable)
    #mainNavigation .toplevel-menu > nav > .navSplit:last-of-type
        height: 3px
        box-shadow: 0 -1px 2px transparentize(black, 0.65)

    #mainNavigation .toplevel-menu:last-of-type > nav > .navSplit:last-of-type
        display: none

    #mainNavigation nav
        padding: 0


@include break_min(portable)
    #itsBanner > .navSplit
        display: none

    #mainNavigation nav > ul
        box-shadow: 0 2px 2px 1px transparentize(black, 0.65)

    #mainNavigation nav
        padding-left: 3px
        padding-right: 3px
        padding-bottom: 3px
