@import "bg_colors"
@import "text"
@import "timetable"

#itsBanner
    position: fixed

#mainSection
    position: relative
    padding-top: map-get($dimensions, banner_height) + 1.5rem
    padding-bottom: 0.5rem
    width: 100%

    .contents
        margin-left: map-get($dimensions, text_margin)
        margin-right: map-get($dimensions, text_margin)

    @include break_max(portable)
        padding-top: map-get($dimensions, banner_height)
        .contents
            margin-left: 1rem
            margin-right: 1rem

    @include break_min(medscreen)
        max-width: map-get($breakpoints, medscreen)
        margin: 0 auto

#mainSection .Container
    margin-top: map-get($dimensions, text_margin)

#mainSection header h1
    text-align: left
    margin: 0
