@import "bg_colors"
@import "text"
@import "text_images"
@import "timetable"

#mainSection
    background-color: map-get($uiColors,main)
    .contents
        background-color: map-get($uiColors,textarea)

#mainSection
    padding-bottom: 0.5rem
    width: 100%
    @include break_max (portable)
        padding-top: map-get($dimensions, banner_height)

    @include break_min (portable)
        padding-top: map-get($dimensions, banner_height) + 1.5rem

    @include break_min(medscreen)
        max-width: map-get($breakpoints, medscreen)
        margin: 0 auto
