#mainSection .Container
    display: flex
    @include break_min(portable)
        margin: 2rem map-get($dimensions, text_margin)
        flex-direction: row
        align-items: flex-start
    @include break_max(portable)
        margin: 0 map-get($dimensions, text_margin) / 2
        flex-direction: column
        .contents
            margin-top: 1rem

#mainSection .contents header h1
    margin-top: 0

#mainSection .contents img
    max-width: 100%

#mainSection .contents p:first-of-type
    margin-top: 0

@include break_min(portable)
    #mainSection
        h1, h2, h3, h4, h5, h6, nav
            text-align: left
