#TableOfContents
    text-align: left

#TableOfContents ul,
#TableOfContents a
    padding: 0
    margin: 0

#TableOfContents li
    margin-bottom: 1rem


@include break_max(portable)
    #TableOfContents
        display: block

    #TableOfContents .tocEntry
        display: block
        margin-bottom: map-get($dimensions, text_margin)

@include break_min(portable)
    #TableOfContents
        display: flex
        flex-direction: row
        flex-wrap: wrap

    #TableOfContents .tocEntry
        display: block
        width: 40%
        min-width: map-get($dimensions, sidenav_width)
