{% extends 'partials/base.html.twig' %}

{% block content %}
{{ page.content }}
{% for item in page.collection().visible() %}
{% include 'partials/blog-item-repr.html.twig' with {page: item} %}
{% endfor %}
{% endblock %}


{% block sidebarCustom %}
{% if header.taxfilter.town or header.taxfilter.category or header.taxfilter.tag %}
<nav class = "RequireJS SideNav" require-js>
  {% include "filter/taxonomy_switches.html.twig" %}
</nav>
{% endif %}
{% endblock %}
