{% extends 'partials/base.html.twig' %}

{% block content %}
{{ page.content }}
{% for item in page.collection() %}
{% include 'partials/blog-item-repr.html.twig' with {page: item} %}
{% endfor %}
{% endblock %}


{% block sideFilters %}
<nav class = "RequireJS SideNav" require-js>
  {% include "filter/taxonomy_switches.html.twig" %}
</nav>
{% endblock %}
