{% extends 'partials/base.html.twig' %}
{% import 'macros/css_tools.html.twig' as css %}

{% block stylesheets_inline %}
{% set css_inline %}
{{css.disable_sidenav}}
{% endset %}
{% do assets.addInlineCss(css_inline) %}
{% endblock %}

{% block content %}
{{ page.content }}
<footer>
  <div class="Taxonomy RequireJS" require-js>
    <div>
      <h4>Kategorien</h4>
      {% include 'filter/categories.html.twig' %}
    </div>
    <div>
      <h4>Schlagworte</h4>
      {% include 'filter/tags.html.twig' %}
    </div>
  </div>
</footer>
{% endblock %}

{% block sidenav %}
{% endblock %}
