{% extends 'partials/base.html.twig' %}

{% block content %}
{{ page.content }}
{% for item in page.collection() %}
{% include 'partials/blog-item.html.twig' with {page: item} %}
{% endfor %}{% endblock %}


{% block sideFilters %}
<nav class = "SideNav">
  {% include "filter/taxonomy.html.twig" %}
</nav>
{% endblock %}
