{% extends 'partials/base.html.twig' %}

{% block content %}
{{ page.content }}
<div id="TimeTable">
  <table>
    <tbody>
    {% for item in page.collection().visible() %}
    {% include 'partials/event.html.twig' with {page: item} %}
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
