{% extends 'partials/base.html.twig' %}

{% block content %}
{{ page.content }}
{% for item in page.collection() %}
{% include 'modular/event.html.twig' with {page: item} %}
{% endfor %}
{% endblock %}


{% block sideFilters %}
<nav class = "SideNav">
<strong>Todo</strong>
</nav>
{% endblock %}
