{% extends 'partials/base.html.twig' %}

{% block content %}
{{ page.content }}
<div id="TimeTable">
  <table>
    <tbody>
    {% for item in page.collection().visible() %}
    {% include 'partials/event-item-repr.html.twig' with {page: item} %}
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block sidebarCustom %}
{% if header.taxfilter.town or header.taxfilter.category or header.taxfilter.tag %}
<nav class = "RequireJS SideNav" require-js>
  {% include "filter/taxonomy_switches.html.twig" %}
</nav>
{% endif %}
{% endblock %}
