#breadcrumbs span 
    padding: 0

#breadcrumbs
    // width: 100%
    text-align: left
    height: auto
    margin: 0.5rem 2rem
    padding-left: 0
    line-height: 1.6rem

#breadcrumbs i::before
    content: "•"
    font-style: normal
