
#sideNavigation h2
    line-height: 1rem

#sideNavigation h1,
#sideNavigation ul,
#sideNavigation li,
    margin: 0
    padding: 0

#sideNavigation
    margin-right: map-get($dimensions, text_margin)
    text-align: left
    border-style: solid
    border-color: transparentize(map-get($uiColors, menu), 0.75)
    border-radius: 2rem
    .SideNav, h2
        margin: 0.5rem
    .navItem, .navCurrent,
    h2
        padding: 0 0.5rem

@include break_max(portable)
    #sideNavigation
        margin-top: 1rem

@include break_min(portable)
    #sideNavigation
        flex: 0 0 map-get($dimensions, sidenav_width)
