#sideNavigation
    position: absolute
    display: block
    width: map-get($dimensions, sidenav_width)
    right: 1rem
    margin: 0

#sideNavigation h2
    line-height: 1.6rem

#sideNavigation h1,
#sideNavigation ul,
#sideNavigation li,
    margin: 0
    padding: 0

@include break_max(portable)
    #sideNavigation
        display: none
